.posts {
   color: #101010;
}
h2 {
   font-size: 24px;
}
.postEditor {
   display: grid;
   grid-template-columns: 2fr 100px;
   grid-column-gap: 20px;
   margin: 20px 0 30px;
}
.postEditor button {
   padding: 5px 15px;
   color: #fff;
   background-color: #e53935;
   font-size: 16px;
   border-radius: 6px;
   border: none;
   outline: none;
   cursor: pointer;
}
.postEditor textarea {
   resize: none;
   border-radius: 3px;
}