.dialogs {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
}
.messages {
    margin-bottom: 15px;
}
.add_message {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}
.add_message button {
    padding: 5px 15px;
    color: #fff;
    background-color: #e53935;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}
